
.ticket_list td {
    padding:5px;
    border:1px solid white;
}

.ticket_content{
    max-width:60vw;
}

.open_ticket , .closed_ticket{
    padding:5px;
    margin:5px;
}

.open_ticket{
    background:#bbffbb;
}
.closed_ticket{
    background:#ffbbbb;
}

.language_box{
    float:right;
    font-size:120%;
}

strong{
    font-size : 120%;
}

div {
    border : 1px solid black;
    padding : 5px;
}


