
.open_ticket , .closed_ticket{
    padding:5px;
    margin:5px;
}

.open_ticket{
    background:#bbffbb;
}
.closed_ticket{
    background:#ffbbbb;
}

.language_box{
    float:right;
    font-size:large;
}

div {
    border : 1px solid black;
    padding : 5px;
}


