@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    padding:10px;
    border:1px solid grey;
    background:lightgrey;
    border-radius:3px;
}

button[disabled]{
    background:grey;
}

