@tailwind base;
@tailwind components;
@tailwind utilities;

button, input[type=submit] {
    padding:10px;
    border:1px solid grey;
    background:lightgrey;
    border-radius:3px;
}

button[disabled]{
    background:grey;
}

.error {
    color:red;
}
.error input {
    border: 1px solid red;
}

input {
    border:1px solid grey;
}
