@tailwind base;
@tailwind components;
@tailwind utilities;

button, input[type=submit] {
    padding:10px;
    border:1px solid grey;
    background:lightgrey;
    border-radius:3px;
}

button[disabled]{
    background:grey;
}

.error {
    color:red;
}
.error input {
    border: 1px solid red;
}

input ,textarea{
    border:1px solid grey;
    margin:3px;
}

.ticket_message{
    position:relative;
    border-radius:5px;
    margin-top:2px;
    margin-left:5px;
    margin-right:15px;
    background-color:#ccccff;
}

.ticket_message.user{
    margin-left:15px;
    margin-right:5px;
    background-color:#aaffff;

}

.top_right{
    position: absolute;
    top: 0px;
    right: 0px;

}

.language_select{
    float:right;
}

h1 {
    font-size:200%;
    font-weight: bold;
}

h2 {
    font-size:170%;
    font-weight: bold;
}

h3 {
    font-size: 160%;
    font-weight:bold;
    font-style:italic;
}
h4 {
    font-size:130%;
    font-stlye:italic;
}

.fixed_top {
    position:fixed;
    top:10px;
    left:10px;
    max-width:50vmin;
    max-height:80vh;
    overflow-y: scroll;
    background-color:lightgrey;
}

.x_close{
    border-radius:50%;
    float:right;
}
